/**
 * Button
 */

input[type=submit] {
	border-radius: 5px;
}

button {
	margin-top: 28px;
	margin-bottom: ($grid-padding / 2);
	padding: ($grid-padding + 2) ($grid-padding * 3) $grid-padding $grid-padding;
	border: 0;
	border-radius: 4px;
	background: $brand-dark;
	color: $base-light;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.sort-button {
	padding: 16px;
	margin: 20px 3px 5px 3px;
}
