/**
 * Page
 */

#page {
	clear: both;
	background: #fff;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px 0 0;
	clear: both;
}

.page-content {
	a {
		color: $blue;
	}

	a:hover {
		text-decoration: none;
	}
}