/**
 * Podcasts
 */

// Content defaults
.container#content {
	border-right: 1px solid $keyline;
	border-bottom: 1px solid $keyline;
	border-left: 1px solid $keyline;
	margin-bottom: $grid-lg-padding;
	padding-top: 0;
	padding-bottom: $grid-lg-padding;
	position: relative;
	z-index: 1;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 24px;
}

#podcast-list {
	margin-top: 20px;
}

.podcast-listing {
	background-color: $light-grey;
	border: 2px solid $base-light;
}

.podcast-listing-img {
	width: 100%;
}

.podcast-link {
	text-decoration: none;
}

.podcast-link:hover {
	color: $brand-dark;
}

.expand-button {
	font-size: 2.5rem;
	font-weight: bold;
    position: absolute;
    top: -14px;
    right: 9px;
    cursor: pointer;
}

.expandable {
	display: none;
}