.search-bar {
	background-color: #e6e9f0;
	padding-bottom: 20px;
	padding-top: 14px;

	label {
		//font-family: firasans;
		//font-size: 1.1rem;
		font-weight: bold;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	input {
		margin-top: 14px;
		padding: 14px 17px;
		border: 0;
		border-radius: 5px;
		line-height: 1.25;
	}
}

.search-bar input:focus {
	outline: none;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.26);
}